user:
    username: "root"
    email: "root@polyaxon.local"
    password: "${polyaxon_password}"

postgresql:
    persistence:
        enabled: true
        size: 5Gi
rbac:
  enabled: true

ingress:
  enabled: true
  hostName: ${hostname}
  tls:
  - secretName: polyaxon-tls
    hosts:
    - ${hostname}

serviceType: LoadBalancer

nodeSelector:
  polyaxon: core

