user:
    username: "root"
    email: "root@polyaxon.local"
    password: "${polyaxon_password}"

postgresql:
    persistence:
        enabled: true
        size: 5Gi
rbac:
  enabled: true

ingress:
  enabled: true
  hostName: polyaxon.galaxy.farm

serviceType: NodePort

nodeSelector:
  polyaxon: core

persistence:
  logs:
      existingClaim: polyaxon-pvc-logs
  repos:
      existingClaim: polyaxon-pvc-repos
  data:
    data1:
      existingClaim: polyaxon-pvc-data
      mountPath: /data
  outputs:
    outputs1:
      existingClaim: polyaxon-pvc-outputs
      mountPath: /outputs
